<!-- The content below is only a placeholder and can be replaced. -->
<div style="text-align:center; margin-bottom: 8em">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center">Todo App</h1>
      <div class="input-group-prepend">
        <input
          [(ngModel)]="todo"
          type="text"
          class="form-control"
          placeholder="Add Todo"
          name="todo"
        />
        <span class="input-group-text" (click)="addTodo(todo)"
          ><i class="material-icons">add</i></span
        >
      </div>
      <!-- <p>{{ todo }}</p> -->
      <div class="data">
        <ul class="list-instyled">
          <li *ngFor="let todo of todosArray">
            {{ todo }}
            <i (click)="deleteItem(todo)" class="material-icons">delete</i>
          </li>
        </ul>
      </div>
    </div>
  </form>
  <!-- get the value of the input -->
</div>
